
.playlist-videos .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.playlist-videos .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   position: relative;
}

.playlist-videos .box-container .box i{
    position: relative;
  width: 100%; /* Ensures the div takes the full width of its parent */
  height: 100%; /* Ensures the div takes the full height of its parent */
  display: flex; /* Use flex to center the image horizontally and vertically */
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide any overflow of the image */
}

.playlist-videos .box-container .box:hover i{
   display: flex;
}

.playlist-videos .box-container .box img{
           
       max-width: 100%;
          max-height: 100%;
          aspect-ratio: 5/3;
          object-fit: cover;
}

.playlist-videos .box-container .box h3{
   margin-top: 1.5rem;
   font-size: 1.8rem;
   color: var(--black);
}

.playlist-videos .box-container .box:hover h3{
   color: var(--main-color);
}