.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-color);
}

.message {
  text-align: center;
}

.greeting {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.role-info {
  font-size: 1.5rem;
  color: #666;
}

.role {
  color: var(--main-color);
  font-weight: bold;
}
